# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# OAuth Providers
GOOGLE_CLIENT_ID="226256167236-r7t32jb3mh3efchpbmmf7263ro3vlt9n.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""

# Admin email allowlist (comma-separated)
ADMIN_EMAILS="owner@yourdomain.com"

# Square
SQUARE_ACCESS_TOKEN="EAAAly4nYNgF7BfLQjeP0grAJmkalTEmUdpN78lypJ1_jOROc8ScPg-NYTR_0ifA"
SQUARE_LOCATION_ID="LJ7YJ6R05X695"
SQUARE_WEBHOOK_SIGNATURE_KEY="1msdVRKDR6bihADW7VMiYw"
NEXT_PUBLIC_SQUARE_APP_ID="sandbox-sq0idb-KcB9IYZsNdWmrIEIUvxPNA"
NEXT_PUBLIC_SQUARE_LOCATION_ID="LJ7YJ6R05X695"

# Resend Email
RESEND_API_KEY="re_fq6pD5bY_JJEsvNkpfVBCcZ4TzUA8Mbyq"
RESEND_FROM_EMAIL="CiderClub <hello@hillcountryciderhouse.com>"
RESEND_FROM_NAME="Hill Country Cider House"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_CLUB_NAME="Your Cider Club"
